* {
  box-sizing: border-box;
}
  
body {
  background-color:#ffffff;
  text-align:center;
  margin: 0;
  padding: 0;
}

header {
  display: inline-block;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  line-height: 2.8;
  cursor: pointer;
}

header a {
  padding: 0px 37px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-family: "Arial";
  cursor: pointer;
}

header:hover {
  background-image: linear-gradient(to right,rgba(255,0,0,0.7),rgba(98,52,140,0.7));
}

header a img {
  position: relative;
  top: 5px;
  opacity: 0.8;
  border-radius: 30%;
  cursor: pointer;
}

header img {
  position: relative;
  bottom: 30px;
  width: 30px;
}

.bpod {
  display: inline-block;
  background: rgba(0,0,0,0.02);
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.bpod h1 {
  font-size: 75px;
  letter-spacing: -.06em;
  position: relative;
  top: 10px;
  line-height: 1.1;
  font-family: "Arial";
  cursor: pointer;
}

.bpod p {
  font-size: 34px;
  letter-spacing: .01em;
  font-family:"Arial";
  position: relative;
  bottom: 38px;
  color: rgba(0,0,0,0.8);
  cursor: pointer;
}

.bpod a {
  font-size:20px;
  color:#4e94db;
  position: relative;
  bottom: 38px;
  text-decoration: none;
  font-family:"Arial";
  display:block;
  cursor: pointer;
}

.bpod a:hover {
  text-decoration: underline;
}

.bpod img {
  position: relative;
  bottom: 30px;
  width:50%;
}

.score-table table, th, tr, td {
  border-style: none;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.score-box {
  display: inline-block;
  background: rgba(0,0,0,0.02);
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.score-box h1 {
  font-size: 75px;
  letter-spacing: -.06em;
  position: relative;
  top: 10px;
  line-height: 1.1;
  font-family: "Arial";
  cursor: pointer;
}

.score-box table {
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}

.score-box td {
  font-size: 24px;
  letter-spacing: .01em;
  font-family:"Cascadia Code";
  position: relative;
  text-align: left;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: rgba(0,0,0,0.1);
  background-color:white;
  color: black;
}
  
.score-box th:first-child {
  border-top-left-radius: 5px;
}

.score-box th:last-child {
  border-top-right-radius: 5px;
  border-right: none;
}

.score-box th:first-child, td:first-child {
  padding: 7px 8px;
}

.score-box tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.score-box tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.score-box tr td:last-child {
  border-right: none;
}

.processor {
  display: inline-block;
  background-color :#35283c;
  font-family: "Arial";
  width: 100%;
  text-align: center;
}

.processor h1 {
  color: #ffffff;
  font-size: 75px;
  letter-spacing: -.06em;
}

.processor p {
    position: relative;
    bottom: 38px;
    font-size: 34px;
    letter-spacing: .01em;
    color:#c999bd;
}

.processor a {
  font-size: 20px;
  color:#4e94db;
  position: relative;
  bottom: 38px;
  text-decoration: none;
  font-family: "Arial";
  display: block;
}

.processor a:hover {
    text-decoration: underline;
}

.processor img {
    position: relative;
    bottom: 30px;
    width: 50%;
}

.hardware {
  display: inline-block;
  background-color :#ffffff;
  font-family: "Arial";
  width: 100%;
  text-align: center;
}

.hardware h1 {
  color: black;
  font-size: 75px;
  letter-spacing: -.06em;
}

.hardware p {
  position: relative;
  bottom: 38px;
  font-size: 34px;
  letter-spacing: .01em;
  color: rgba(0,0,0,0.8);
}

.hardware a {
  font-size: 20px;
  color:#4e94db;
  position: relative;
  bottom: 38px;
  text-decoration: none;
  font-family: "Arial";
  display: block;
}

.hardware a:hover {
  text-decoration: underline;
}

.hardware a img {
  position: relative;
  top: 6px;
  height: 30px;
  width: 60px;
}

.hardware img {
  position: relative;
  width: 85%;
  bottom: 30px;
}

.software {
  display: inline-block;
  background-color :#1F272A;
  font-family: "Arial";
  width: 100%;
  text-align: center;
}

.software h1 {
  color: #ffffff;
  font-size: 75px;
  letter-spacing: -.06em;
}

.software p {
  position: relative;
  bottom: 38px;
  font-size: 34px;
  letter-spacing: .01em;
  color:#c999bd;
}

.software code {
  position: relative;
  font-size: 20px;
  color:white;
}

.software a {
  font-size: 20px;
  color:#4e94db;
  position: relative;
  bottom: 38px;
  text-decoration: none;
  font-family: "Arial";
  display: block;
}

.software a:hover {
  text-decoration: underline;
}

.software img {
  position: relative;
}

.software table {
  border-style: none;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.village {
  display: inline-block;
  background-color :#f5f5f7;
  font-family: "Arial";
  width: 75%;
  text-align: center;
}

.village h1 {
  color: black;
  font-size: 75px;
  letter-spacing: -.06em;
}

.village p {
  position: relative;
  bottom: 38px;
  font-size: 30px;
  letter-spacing: .01em;
  color:#d90238;
}

.village a {
  font-size: 20px;
  color:#4e94db;
  position: relative;
  bottom: 38px;
  text-decoration: none;
  font-family: "Arial";
  display: block;
}

.village a:hover {
  text-decoration: underline;
}

.village img {
  width: 100%;
  height: 100%;
}

.sao {
  display: inline-block;
  background-color :#ffffff;
  font-family: "Arial";
  width: 100%;
  text-align: center;
}

.sao h1{
  color: black;
  font-size: 75px;
  letter-spacing: -.06em;
}

.sao p{
  position: relative;
  bottom: 38px;
  font-size: 34px;
  letter-spacing: .01em;
  color: rgba(0,0,0,0.8);
}

.sao a{
  font-size: 20px;
  color:#4e94db;
  position: relative;
  bottom: 38px;
  text-decoration: none;
  font-family: "Arial";
  display : block;
}

.sao a:hover{
  text-decoration: underline;
}

.sao img{
  width: 40%;
  height: 40%;
}
  
.update{
  display: inline-block;
  background-color :#214360;
  font-family: "Arial";
  text-align: center;
  width: 75%;
}

.update img{
  width: 20%;
  height: 20%;
}

.update h1{
  color: white;
  font-size: 75px;
  letter-spacing: -.06em;
}

.update p{
  position: relative;
  bottom: 38px;
  font-size: 34px;
  letter-spacing: .01em;
  color: white;
}

.update a{
  font-size: 20px;
  color:white;
  position: relative;
  bottom: 38px;
  text-decoration: none;
  font-family: "Arial";
  display: block;
}

.update a:hover{
  text-decoration: underline;
}

footer {
  font-size: 14px;
  display: inline-block;
  background-color :#f5f5f7;
  font-family: "Arial";
}

footer p {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  color:#a1a1a1;
}

footer hr {
  color:#a1a1a1;
  width: 80%;
  float: center;
  line-height: normal;
}

footer a {
  color:#4e94db;
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}

footer h4 {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  color:#a1a1a1;
  font-family: "Arial";
  font-weight: normal;
}
